@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hawassa University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Hawassa University</h2>
        <p>
            Hawassa University is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
        
    </div>
        <a>   <img src="c:\users\12086\documents\winter 2024\.net\week_10\contosouniversity\contosouniversity\images\pexels-olena-bohovyk-3646172.jpg" />    </a>
    
</div>